.header {
    width: 100%;
    // background-color: transparent;
    position: relative;
    @extend %flexBox;
    @extend %itemCenter;
    .header-title {
        color: $comTxt;
        font-size: $le_1;
        margin: 0 auto;
        text-align: center;
        font-weight: 500;
    }
    .header-background {
        @extend %flurBlur;
        background-size: 100% 100%;
    }
    .header-toolbar {
        padding-left: px2rem(140);
        height: px2rem(100);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.logo-box {
    display: flex;
    height: 100%;
    width: px2rem(200);
    line-height: px2rem(100);
    @extend %itemCenter;
    .logo-title {
        font-size: $le_3;
        color: $comTxt;
    }
    .icon {
        width: px2rem(50);
        height: px2rem(50);
    }
}

.nav-dropdown {
    font-weight: 600;
    display: inline-block;
    height: 100%;
    font-size: $le_3;
    width: px2rem(250);
    line-height: px2rem(100);
    text-align: center;
    .dropdown {
        @extend %flexBox;
        @extend %itemCenter;
        .icon {
            width: px2rem(25);
            height: px2rem(25);
        }
        .nav-text {
            color: $comTxt;
            font-weight: 600;
            font-size: $le_3;
        }
    }
    &.active {
        .dropdown-layer {
            display: inline-block;
            .nav-list {
                max-width: px2rem(220);
            }
        }
        a {
            color: $comTxt;
        }
    }
    .dropdown-layer {
        display: none;
        background-color: #333;
        .nav-item {
            height: px2rem(100);
            // display: inline-block;
            padding: px2rem(5) px2rem(10);
            white-space: nowrap;
            border-bottom: 1px solid #ccc;
            &:last-child {
                border-bottom: 1px solid transparent;
            }
        }
        a {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.cooperation {
    display: inline-block;
    height: 100%;
    font-size: $le_3;
    font-weight: 600;
    width: px2rem(150);
    line-height: px2rem(100);
    text-align: center;
    a {
        color: $comTxt;
    }
}