.header {
    background-color: #eee;
    .header-toolbar {
        background: darkcyan;
    }
}

.content {
    .content-item {
        background-color: $comTxt;
        &.live {
            background-color: $norBack;
        }
        &.short-video {
            background-color: #eee;
        }
    }
}

.footer {
    background-color: $footBack;
}

.copyright {
    background-color: #a9a9a9;
}