.header {
    height: px2rem(550);
}

.column {
    .order-list {
        padding-top: px2rem(60);
        @extend %flexBox;
        justify-content: center;
        width: px2rem(440);
        left: 50%;
        transform: translateX(-50%);
        &_wrapper {
            @extend %flexBox;
            justify-content: space-between;
            width: 100%;
        }
        .spacer {
            width: 1px;
            height: 100%;
            background: #ccc;
        }
        strong {
            font-size: $le_3;
            color: $moreTxt;
        }
        small {
            font-size: $le_5;
            color: $moreTxt;
        }
    }
    .column-list {
        padding: px2rem(60) px2rem(380);
        &_wrapper {
            @extend %flexBox;
            justify-content: space-between;
            flex-wrap: wrap;
            .column-item {
                width: (100% / 3);
            }
            .column-item_lk {
                border: solid 1px #ccc;
                @extend %flexBox;
                flex-direction: column;
                .img-box {
                    width: px2rem(360);
                    height: px2rem(210);
                }
                .sub-title {
                    font-size: $le_4;
                    align-self: flex-start;
                    line-height: px2rem(30);
                }
            }
        }
    }
}

.util {
    .tag-badge {
        margin-top: px2rem(20);
    }
    .content-title_background {
        margin-top: px2rem(20);
        height: px2rem(430);
    }
    .section {
        @extend %flexBox;
        justify-content: space-between;
        padding: px2rem(60) px2rem(460);
        .section-left {
            width: px2rem(540);
            height: auto;
            @extend %flexBox;
            align-items: flex-start;
            flex-direction: column;
        }
        .section-right {
            @extend %flexBox;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            .img-box {
                width: px2rem(280);
                height: px2rem(160);
                border: solid 1px #ccc;
            }
            .btn {
                display: inline-block;
                padding: px2rem(5) px2rem(30);
                border-top-right-radius: px2rem(20);
                border-bottom-right-radius: px2rem(20);
                border-top-left-radius: px2rem(20);
                border-bottom-left-radius: px2rem(20);
                font-size: $le_4;
                height: px2rem(40);
                margin-top: px2rem(40);
                &.visit-all {
                    border: solid 1px $footBack;
                }
                &.apply-coop {
                    background-color: $footBack;
                }
            }
        }
    }
}

.more {
    .tag-badge {
        margin-top: px2rem(20);
    }
    .more-list {
        padding: px2rem(60) px2rem(230);
        &_wrapper {
            @extend %flexBox;
            justify-content: space-between;
        }
        .more-item_lk {
            @extend %flexBox;
            flex-direction: column;
            border: solid 1px #ccc;
        }
        .img-box {
            width: px2rem(240);
            height: px2rem(350);
        }
        .sub-title {
            font-size: $le_4;
        }
    }
}

.result {
    .tag-badge {
        margin-top: px2rem(20);
    }
    .order-list {
        padding-top: px2rem(60);
        @extend %flexBox;
        justify-content: center;
        width: px2rem(440);
        left: 50%;
        transform: translateX(-50%);
        &_wrapper {
            @extend %flexBox;
            justify-content: space-between;
            width: 100%;
        }
        .spacer {
            width: 1px;
            height: 100%;
            background: #ccc;
        }
        strong {
            font-size: $le_3;
            color: $moreTxt;
        }
        small {
            font-size: $le_5;
            color: $moreTxt;
        }
    }
    .result-list {
        padding: px2rem(70) px2rem(330);
        &_wrapper {
            @extend %flexBox;
            justify-content: space-between;
        }
        .result-item_lk {
            .img-box {
                width: px2rem(290);
                height: px2rem(400);
                background: indianred;
            }
        }
    }
}