.header {
    height: px2rem(500);
}

.custom-sec {
    height: px2rem(800);
    .tag-badge {
        margin-top: px2rem(30);
    }
    .video-list_wrapper {
        padding: px2rem(70) px2rem(380);
        @extend %flexBox;
        flex-wrap: wrap;
        height: px2rem(580);
        align-content: space-between;
        .video-item {
            width: (100% / 4);
            &_lk {
                border: solid 1px #ccc;
                width: px2rem(280);
                height: px2rem(210);
                @extend %flexBox;
                justify-content: space-between;
                flex-direction: column;
            }
            .img-box {
                width: px2rem(280);
                height: px2rem(180);
            }
        }
        .sub-title {
            font-size: $le_4;
        }
    }
}

.custom-bigger {
    .content-title_background {
        margin-top: px2rem(50);
        height: px2rem(300);
        background: #eee;
    }
    .section {
        padding: px2rem(120) px2rem(360);
        @extend %flexBox;
        .section-left {
            flex-basis: 70%;
            @extend %flexBox;
            height: px2rem(440);
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            &_item {
                height: px2rem(200);
                @extend %flexBox;
                justify-content: space-between;
                .img-box {
                    width: px2rem(300);
                    height: px2rem(200);
                    border: solid #ccc 1px;
                }
                .text-box {
                    padding-left: px2rem(50);
                    @extend %flexBox;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                }
                .desc {
                    padding: px2rem(10) 0;
                }
            }
        }
        .section-right {
            flex-basis: 30%;
            @extend %flexBox;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .btn {
                display: inline-block;
                padding: px2rem(5) px2rem(30);
                border-top-right-radius: px2rem(20);
                border-bottom-right-radius: px2rem(20);
                border-top-left-radius: px2rem(20);
                border-bottom-left-radius: px2rem(20);
                font-size: $le_4;
                height: px2rem(40);
                margin-top: px2rem(40);
                &.visit-btn {
                    border: solid 1px $footBack;
                }
                &.apply-btn {
                    background-color: $footBack;
                }
            }
            .img-box {
                width: px2rem(280);
                height: px2rem(160);
            }
        }
    }
}