// core
.core {
    height: px2rem(760);
    .core-list_wrapper {
        padding: px2rem(60) px2rem(280);
        @extend %flexBox;
        justify-content: center;
        .core-item {
            .core-item_lk {
                width: px2rem(420);
                height: px2rem(380);
                position: relative;
                @extend %flexBox;
                flex-direction: column;
                justify-content: space-between;
            }
            .img-box {
                width: px2rem(420);
                height: px2rem(280);
            }
            .sub-title {
                line-height: px2rem(56);
            }
        }
    }
}

// live
.live {
    background-image: url('../images/page1/bg/page172.jpg');
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .support {
        padding-top: px2rem(20);
        color: $moreTxt;
        font-size: $le_5;
        margin: 0 auto;
        text-align: center;
    }
    .tag-badge {
        margin-top: px2rem(20);
    }
    .live-list_wrapper {
        padding: px2rem(60) px2rem(380);
        @extend %flexBox;
        justify-content: center;
        .live-item {
            .live-item_lk {
                width: px2rem(360);
                height: auto;
                @extend %flexBox;
                flex-direction: column;
                // justify-content: space-between;
                align-items: flex-start;
            }
            .img-box {
                width: px2rem(360);
                height: px2rem(240);
                position: relative;
            }
            .sub-title {
                padding-top: px2rem(30);
                padding-bottom: px2rem(20);
            }
        }
    }
}

.custom-IP {
    background-image: url('../images/page1/bg/page172.png');
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .section {
        &.custom-single {
            padding: px2rem(180) px2rem(420) 0;
            .section-right {
                width: px2rem(560);
                height: px2rem(340);
            }
            .video-single_lk {
                position: relative;
                display: block;
                @extend %fullSize;
                .sub-title {
                    font-size: $le_4;
                    text-align: center;
                    background-color: $footBack;
                    height: px2rem(60);
                    line-height: px2rem(60);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
        padding: px2rem(180) px2rem(280) 0;
        @extend %flexBox;
        flex-direction: row;
        justify-content: space-between;
        .section-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .desc {
                padding-top: px2rem(60);
                max-width: px2rem(420);
            }
        }
        .section-right {
            width: px2rem(840);
            .video-list {
                @extend %flexBox;
                flex-wrap: wrap;
                align-content: space-around;
                height: px2rem(550);
            }
            .video-item {
                width: (100% / 3);
                &_lk {
                    width: px2rem(270);
                    height: px2rem(170);
                    @extend %flexBox;
                    @extend %itemCenter;
                    &:hover {
                        background-color: cornflowerblue;
                        opacity: 0.7;
                        .title {
                            display: block;
                            position: absolute;
                            top: 50%;
                        }
                    }
                }
                .title {
                    font-size: $le_4;
                    display: none;
                }
            }
        }
    }
}

// column
.column {
    .content-title {
        padding-top: px2rem(100);
    }
    .tag-badge {
        margin-top: px2rem(30);
    }
    &-list {
        padding: px2rem(40) px2rem(480);
        &_wrapper {
            @extend %flexBox;
            justify-content: center;
        }
        .column-item_lk {
            width: px2rem(450);
            height: px2rem(330);
            border: solid #ccc 1px;
            position: relative;
            .sub-title {
                font-size: $le_4;
                text-align: center;
                background-color: $footBack;
                height: px2rem(60);
                line-height: px2rem(60);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        .img-box {
            width: 100%;
            height: auto;
        }
    }
    .multiple-list_wrapper {
        padding: px2rem(30) px2rem(300);
        @extend %flexBox;
        flex-wrap: wrap;
        align-content: space-between;
        height: px2rem(500);
        .multiple-item {
            width: (100% / 5);
            &_lk {
                width: px2rem(240);
                height: px2rem(200);
                @extend %flexBox;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .sub-title {
            font-size: $le_5;
        }
        .img-box {
            width: px2rem(240);
            height: px2rem(160);
        }
    }
}

// short-video
.short-video {
    background-image: url('../images/page1/bg/page1236.jpg');
    background-size: 100% 100%;
    @extend %flexBox;
    align-items: center;
    flex-direction: column;
    height: px2rem(950);
    .tag-badge {
        margin-top: px2rem(30);
        left: 0;
        transform: translateX(0%);
    }
    .order-list {
        padding-top: px2rem(60);
        @extend %flexBox;
        justify-content: center;
        width: px2rem(440);
        &_wrapper {
            @extend %flexBox;
            justify-content: space-between;
            width: 100%;
        }
        .spacer {
            width: 1px;
            height: 100%;
            background: #ccc;
        }
        strong {
            font-size: $le_3;
            color: $otherTxt;
        }
        small {
            font-size: $le_5;
            color: $otherTxt;
        }
    }
    .shortvideo-list {
        padding-top: px2rem(60);
        @extend %flexBox;
        justify-content: center;
        width: px2rem(1120);
        &_wrapper {
            @extend %flexBox;
            justify-content: space-between;
            width: 100%;
            height: px2rem(520);
            align-content: space-between;
            flex-wrap: wrap;
        }
        .shortvideo-item {
            width: (100% / 3);
            &_lk {
                width: px2rem(360);
                height: px2rem(250);
                @extend %flexBox;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .sub-title {
            text-align: left;
            font-size: $le_4;
            color: $comTxt;
        }
    }
}

.header {
    height: px2rem(700);
    .header-background {
        background-image: url('../images/page1/banner/page1.jpg');
    }
}

.footer {
    height: px2rem(530);
}