.header {
    height: px2rem(500);
    .header-background {
        background-image: url('../images/page2/banner.jpg');
    }
}

.live-sec {
    height: px2rem(270);
}

.living {
    .content-title_background {
        height: px2rem(300);
        background-image: url('../images/page2/page2_34.jpg');
        // width: 100%;
        // img {
        //     // background-images ?
        // }
    }
    .section {
        padding: px2rem(100) px2rem(460);
        @extend %flexBox;
        @include justify-content(space-between);
        .section-left {
            width: px2rem(540);
            height: auto;
            @extend %flexBox;
            @include align-items(flex-start);
            @include flex-direction(column);
            .img-box {
                width: px2rem(540);
                height: px2rem(290);
            }
        }
        .sub-title {
            font-size: $le_4;
            color: $moreTxt;
            padding-top: px2rem(30);
            padding-bottom: px2rem(20);
        }
        .section-right {
            @extend %flexBox;
            @include justify-content(center);
            @include flex-direction(column);
            @include align-items(flex-start);
            .img-box {
                width: px2rem(280);
                height: px2rem(160);
                border: solid 1px #ccc;
            }
            .btn {
                display: inline-block;
                padding: px2rem(5) px2rem(30);
                border-top-right-radius: px2rem(20);
                border-bottom-right-radius: px2rem(20);
                border-top-left-radius: px2rem(20);
                border-bottom-left-radius: px2rem(20);
                font-size: $le_4;
                height: px2rem(40);
                margin-top: px2rem(40);
                &.visit-all {
                    border: solid 1px $footBack;
                }
                &.apply-coop {
                    background-color: $footBack;
                }
            }
        }
    }
}