// normalize
html {
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    touch-action: pan-y;
    -webkit-user-select: none;
    user-select: none;
    @extend %fullSize;
    font-size: 12px;
}

body {
    font-size: 0.16rem;
    word-wrap: break-word;
    font-family: $fontDefault;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    -webkit-user-drag: none;
    @extend %fullSize;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
    @include tapColor(transparent);
    color: $linkColor;
}

li {
    list-style: none;
}

iframe {
    border: none;
    background: #fff;
}