/* Created on 14th May */
/* Compass */
/* Helper */
/* line 85, ../../sass/helper/_mixin.scss */
.t-line {
  position: relative;
}
/* line 87, ../../sass/helper/_mixin.scss */
.t-line:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #ccc;
  color: #ccc;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.501);
  transform: scaleY(0.501);
}

/* line 92, ../../sass/helper/_mixin.scss */
.r-line {
  position: relative;
}
/* line 94, ../../sass/helper/_mixin.scss */
.r-line:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  border-right: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.501);
  transform: scaleX(0.501);
}

/* line 99, ../../sass/helper/_mixin.scss */
.b-line {
  position: relative;
}
/* line 101, ../../sass/helper/_mixin.scss */
.b-line:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.501);
  transform: scaleY(0.501);
}

/* line 106, ../../sass/helper/_mixin.scss */
.l-line {
  position: relative;
}
/* line 108, ../../sass/helper/_mixin.scss */
.l-line:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  border-left: 1px solid rgba(207, 207, 207, 0.95);
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.501);
  transform: scaleX(0.501);
}

/* line 113, ../../sass/helper/_mixin.scss */
.box-line {
  position: relative;
}
/* line 115, ../../sass/helper/_mixin.scss */
.box-line:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid rgba(207, 207, 207, 0.95);
  border-radius: 0;
  color: rgba(207, 207, 207, 0.95);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.501);
  transform: scale(0.501);
  pointer-events: none;
}

/**
 * sass font size manage
 * */
/**
 * flexible
 * */
/* line 20, ../../sass/helper/_variable.scss */
html, body, .custom-IP .section.custom-single .video-single_lk {
  width: 100%;
  height: 100%;
}

/* line 26, ../../sass/helper/_variable.scss */
.dialog-wrapper .pop-down-close, .header, .nav-dropdown .dropdown, .content, .footer, .footer .contact-row, .core .core-list_wrapper, .core .core-list_wrapper .core-item .core-item_lk, .live .live-list_wrapper, .live .live-list_wrapper .live-item .live-item_lk, .custom-IP .section, .custom-IP .section .section-right .video-list, .custom-IP .section .section-right .video-item_lk, .column-list_wrapper, .column .multiple-list_wrapper, .column .multiple-list_wrapper .multiple-item_lk, .short-video, .short-video .order-list, .short-video .order-list_wrapper, .short-video .shortvideo-list, .short-video .shortvideo-list_wrapper, .short-video .shortvideo-list .shortvideo-item_lk {
  display: -webkit-flex;
  display: flex;
}

/* line 32, ../../sass/helper/_variable.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* line 41, ../../sass/helper/_variable.scss */
.devider {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  min-height: 0.5rem;
}

/* line 54, ../../sass/helper/_variable.scss */
.dialog-wrapper .pop-down-close, .header, .logo-box, .nav-dropdown .dropdown, .content, .custom-IP .section .section-right .video-item_lk {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 64, ../../sass/helper/_variable.scss */
.pop-window, .header .header-background {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

/* line 2, ../../sass/helper/_base.scss */
html {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
  font-size: 12px;
}

/* line 15, ../../sass/helper/_base.scss */
body {
  font-size: 1.6rem;
  word-wrap: break-word;
  font-family: -apple-system-font, "Helvetica Neue", "Roboto", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

/* line 27, ../../sass/helper/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 32, ../../sass/helper/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 39, ../../sass/helper/_base.scss */
a img {
  border: 0;
}

/* line 43, ../../sass/helper/_base.scss */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #646464;
}

/* line 49, ../../sass/helper/_base.scss */
li {
  list-style: none;
}

/* line 53, ../../sass/helper/_base.scss */
iframe {
  border: none;
  background: #fff;
}

/* Module */
/* line 1, ../../sass/module/_list.scss */
.list {
  position: relative;
  width: 100%;
}
/* line 4, ../../sass/module/_list.scss */
.list .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 10, ../../sass/module/_list.scss */
.list .sub-title {
  color: #090909;
  font-size: 0.26rem;
  text-align: center;
}

/* line 1, ../../sass/module/_icon.scss */
.icon {
  display: block;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 0.3rem;
  height: 0.3rem;
}

/* line 10, ../../sass/module/_icon.scss */
.icon-down_full {
  background-image: url("../images/page1/bg/page1_03.png");
}

/* line 14, ../../sass/module/_icon.scss */
.icon-webo {
  background-image: url("../images/weibo.svg");
}

/* line 18, ../../sass/module/_icon.scss */
.icon-weixin {
  background-image: url("../images/weixin.svg");
}

/* line 22, ../../sass/module/_icon.scss */
.icon-mail {
  background-image: url("../images/mail.svg");
}

/* line 26, ../../sass/module/_icon.scss */
.icon-close {
  background-image: url("../images/close.svg");
}

/* line 30, ../../sass/module/_icon.scss */
.icon-down {
  background-image: url("../images/down.svg");
}

/* line 2, ../../sass/module/_dialog.scss */
.mask-background {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.96;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
/* line 14, ../../sass/module/_dialog.scss */
.mask-background:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 998;
  background-attachment: fixed;
}
/* line 26, ../../sass/module/_dialog.scss */
.mask-background.open {
  display: block;
}

/* line 31, ../../sass/module/_dialog.scss */
.pop-window {
  display: none;
  z-index: 1000;
  background: transparent;
  position: fixed;
}
/* line 38, ../../sass/module/_dialog.scss */
.pop-window .pop-header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 80px;
  z-index: 10;
}
/* line 48, ../../sass/module/_dialog.scss */
.pop-window .pop-header .title {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 80px;
  color: #fff;
  font-size: 0.4rem;
}
/* line 59, ../../sass/module/_dialog.scss */
.pop-window .pop-header .pop-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 1;
}
/* line 67, ../../sass/module/_dialog.scss */
.pop-window .pop-header .pop-close .icon {
  width: 50px;
  height: 50px;
}
/* line 73, ../../sass/module/_dialog.scss */
.pop-window .pop-content {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 79, ../../sass/module/_dialog.scss */
.pop-window .pop-content .linkage-bar {
  height: 30px;
}
/* line 83, ../../sass/module/_dialog.scss */
.pop-window .pop-inner {
  position: relative;
  height: auto;
  overflow: hidden;
}
/* line 88, ../../sass/module/_dialog.scss */
.pop-window .pop-inner .cached {
  display: none;
}
/* line 91, ../../sass/module/_dialog.scss */
.pop-window .pop-inner .active {
  display: block;
}
/* line 95, ../../sass/module/_dialog.scss */
.pop-window .scroll-content .scroll .pop-inner {
  top: 0;
}
/* line 99, ../../sass/module/_dialog.scss */
.pop-window .pop-filter {
  position: relative;
  height: auto;
}
/* line 103, ../../sass/module/_dialog.scss */
.pop-window.open {
  display: block;
}
/* line 106, ../../sass/module/_dialog.scss */
.pop-window.fullscreen {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: transparent;
}
/* line 120, ../../sass/module/_dialog.scss */
.pop-window.fullscreen .pop-down-close {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 0.4rem;
  height: 0.4rem;
  border: solid 2px #fff;
  border-radius: 50%;
}
/* line 129, ../../sass/module/_dialog.scss */
.pop-window.fullscreen .pop-down-close:before {
  position: absolute;
  top: 17px;
  left: 7px;
  content: '';
  width: 23px;
  height: 2px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 140, ../../sass/module/_dialog.scss */
.pop-window.fullscreen .pop-down-close:after {
  position: absolute;
  top: 17px;
  left: 7px;
  content: '';
  width: 23px;
  height: 2px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 155, ../../sass/module/_dialog.scss */
.dialog-wrapper {
  width: 60%;
  height: 60%;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
/* line 163, ../../sass/module/_dialog.scss */
.dialog-wrapper .pop-down-close {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: solid #ccc 1px;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

/* Layout */
/* line 2, ../../sass/layout/_grid.scss */
.row * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../../sass/layout/_grid.scss */
.row {
  margin: 0;
}

/* line 12, ../../sass/layout/_grid.scss */
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding: 10px;
}

/* line 65, ../../sass/layout/_grid.scss */
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

/* line 80, ../../sass/layout/_grid.scss */
.col-xs-12 {
  width: 100%;
}

/* line 84, ../../sass/layout/_grid.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 88, ../../sass/layout/_grid.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 92, ../../sass/layout/_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 96, ../../sass/layout/_grid.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 100, ../../sass/layout/_grid.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 104, ../../sass/layout/_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 108, ../../sass/layout/_grid.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 112, ../../sass/layout/_grid.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 116, ../../sass/layout/_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 120, ../../sass/layout/_grid.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 124, ../../sass/layout/_grid.scss */
.col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 768px) {
  /* line 129, ../../sass/layout/_grid.scss */
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  /* line 143, ../../sass/layout/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 146, ../../sass/layout/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 149, ../../sass/layout/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 152, ../../sass/layout/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 155, ../../sass/layout/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 158, ../../sass/layout/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 161, ../../sass/layout/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 164, ../../sass/layout/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 167, ../../sass/layout/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 170, ../../sass/layout/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 173, ../../sass/layout/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 176, ../../sass/layout/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 960px) {
  /* line 182, ../../sass/layout/_grid.scss */
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  /* line 196, ../../sass/layout/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 199, ../../sass/layout/_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 202, ../../sass/layout/_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 205, ../../sass/layout/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 208, ../../sass/layout/_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 211, ../../sass/layout/_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 214, ../../sass/layout/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 217, ../../sass/layout/_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 220, ../../sass/layout/_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 223, ../../sass/layout/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 226, ../../sass/layout/_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 229, ../../sass/layout/_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1360px) {
  /* line 235, ../../sass/layout/_grid.scss */
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  /* line 249, ../../sass/layout/_grid.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 252, ../../sass/layout/_grid.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 255, ../../sass/layout/_grid.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 258, ../../sass/layout/_grid.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 261, ../../sass/layout/_grid.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 264, ../../sass/layout/_grid.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 267, ../../sass/layout/_grid.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 270, ../../sass/layout/_grid.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 273, ../../sass/layout/_grid.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 276, ../../sass/layout/_grid.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 279, ../../sass/layout/_grid.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 282, ../../sass/layout/_grid.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }
}
/* line 288, ../../sass/layout/_grid.scss */
.grids-contant {
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* line 292, ../../sass/layout/_grid.scss */
.grids-contant .grids-grid {
  display: inline-block;
  position: relative;
  float: left;
  padding: 20px 10px;
  box-sizing: border-box;
}
/* line 298, ../../sass/layout/_grid.scss */
.grids-contant .grids-grid .grids-grid-icon {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 305, ../../sass/layout/_grid.scss */
.grids-contant .grids-grid .grids-grid-label {
  display: block;
  text-align: center;
  font-size: 0.26rem;
  padding-top: 20px;
}

/* line 1, ../../sass/layout/_header.scss */
.header {
  width: 100%;
  position: relative;
}
/* line 7, ../../sass/layout/_header.scss */
.header .header-title {
  color: #ffffff;
  font-size: 0.4rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
}
/* line 14, ../../sass/layout/_header.scss */
.header .header-background {
  background-size: 100% 100%;
}
/* line 18, ../../sass/layout/_header.scss */
.header .header-toolbar {
  padding-left: 1.4rem;
  height: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* line 31, ../../sass/layout/_header.scss */
.logo-box {
  display: flex;
  height: 100%;
  width: 2rem;
  line-height: 1rem;
}
/* line 37, ../../sass/layout/_header.scss */
.logo-box .logo-title {
  font-size: 0.26rem;
  color: #ffffff;
}
/* line 41, ../../sass/layout/_header.scss */
.logo-box .icon {
  width: 0.5rem;
  height: 0.5rem;
}

/* line 47, ../../sass/layout/_header.scss */
.nav-dropdown {
  display: inline-block;
  height: 100%;
  font-size: 0.2rem;
  width: 1.5rem;
  line-height: 1rem;
  text-align: center;
}
/* line 57, ../../sass/layout/_header.scss */
.nav-dropdown .dropdown .icon {
  width: 0.25rem;
  height: 0.25rem;
}
/* line 61, ../../sass/layout/_header.scss */
.nav-dropdown .dropdown .nav-text {
  color: #ffffff;
}
/* line 66, ../../sass/layout/_header.scss */
.nav-dropdown.active .dropdown-layer {
  display: block;
  border: solid 1px #ccc;
}
/* line 70, ../../sass/layout/_header.scss */
.nav-dropdown.active a {
  color: #ffffff;
}
/* line 74, ../../sass/layout/_header.scss */
.nav-dropdown .dropdown-layer {
  display: none;
}
/* line 76, ../../sass/layout/_header.scss */
.nav-dropdown .dropdown-layer .nav-item {
  height: 1rem;
}
/* line 79, ../../sass/layout/_header.scss */
.nav-dropdown .dropdown-layer a {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 87, ../../sass/layout/_header.scss */
.cooperation {
  display: inline-block;
  height: 100%;
  font-size: 0.2rem;
  width: 1.5rem;
  line-height: 1rem;
  text-align: center;
}
/* line 94, ../../sass/layout/_header.scss */
.cooperation a {
  color: #ffffff;
}

/* line 1, ../../sass/layout/_content.scss */
.content {
  flex-direction: column;
  width: 100%;
  position: relative;
}
/* line 7, ../../sass/layout/_content.scss */
.content .content-item {
  width: 100%;
}
/* line 10, ../../sass/layout/_content.scss */
.content .content-item .icon {
  width: 0.3rem;
  height: 0.3rem;
}
/* line 15, ../../sass/layout/_content.scss */
.content .content-item .img-box img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 24, ../../sass/layout/_content.scss */
.content-title {
  text-align: center;
  padding-top: 0.7rem;
  font-size: 0.26rem;
  font-weight: 400;
  color: #090909;
}

/* line 34, ../../sass/layout/_content.scss */
.content-title_background {
  width: 100%;
  background-size: 100% 100%;
}
/* line 37, ../../sass/layout/_content.scss */
.content-title_background img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 44, ../../sass/layout/_content.scss */
.content-sub_title {
  text-align: center;
  padding-top: 0.25rem;
  font-size: 0.2rem;
  color: #090909;
}

/* line 1, ../../sass/layout/_footer.scss */
.footer {
  width: 100%;
  position: relative;
  height: 5.3rem;
  align-items: center;
  flex-direction: column;
}
/* line 8, ../../sass/layout/_footer.scss */
.footer-wrapper {
  width: 10rem;
}
/* line 11, ../../sass/layout/_footer.scss */
.footer-title {
  font-size: 0.26rem;
  color: #090909;
  padding-top: 1rem;
}
/* line 16, ../../sass/layout/_footer.scss */
.footer .contact-row {
  width: 100%;
  justify-content: flex-start;
  padding-top: 0.3rem;
}
/* line 21, ../../sass/layout/_footer.scss */
.footer .contact-row .address {
  width: 6rem;
}
/* line 24, ../../sass/layout/_footer.scss */
.footer .contact-row .tel,
.footer .contact-row .fax {
  width: 3rem;
}
/* line 28, ../../sass/layout/_footer.scss */
.footer .contact-row .postcode .website {
  min-width: 2rem;
}
/* line 31, ../../sass/layout/_footer.scss */
.footer .contact-row .desc {
  display: inline-block;
}
/* line 35, ../../sass/layout/_footer.scss */
.footer .social-contact {
  padding-top: 1rem;
  width: 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 44, ../../sass/layout/_footer.scss */
.footer .social-contact .icon {
  width: 0.4rem;
  height: 0.4rem;
}

/* line 51, ../../sass/layout/_footer.scss */
.copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.7rem;
  font-size: 0.15rem;
  line-height: 0.7rem;
  padding-left: 4.6rem;
}

/* line 1, ../../sass/layout/_util.scss */
.tag-badge {
  width: 0.8rem;
  height: 0.05rem;
  background-color: #ffcd40;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* line 10, ../../sass/layout/_util.scss */
.desc {
  font-size: 0.15rem;
  line-height: 150%;
  text-align: justify;
  color: #3f3f3f;
}

/* Page */
/* line 2, ../../sass/page/_home.scss */
.core {
  height: 7.6rem;
}
/* line 4, ../../sass/page/_home.scss */
.core .core-list_wrapper {
  padding: 0.6rem 2.8rem;
  justify-content: center;
}
/* line 9, ../../sass/page/_home.scss */
.core .core-list_wrapper .core-item .core-item_lk {
  width: 4.2rem;
  height: 3.8rem;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}
/* line 17, ../../sass/page/_home.scss */
.core .core-list_wrapper .core-item .img-box {
  width: 4.2rem;
  height: 2.8rem;
}
/* line 21, ../../sass/page/_home.scss */
.core .core-list_wrapper .core-item .sub-title {
  line-height: 0.56rem;
}

/* line 30, ../../sass/page/_home.scss */
.live .support {
  padding-top: 0.2rem;
  color: #090909;
  font-size: 0.15rem;
  margin: 0 auto;
  text-align: center;
}
/* line 37, ../../sass/page/_home.scss */
.live .tag-badge {
  margin-top: 0.2rem;
}
/* line 40, ../../sass/page/_home.scss */
.live .live-list_wrapper {
  padding: 0.6rem 3.8rem;
  justify-content: center;
}
/* line 45, ../../sass/page/_home.scss */
.live .live-list_wrapper .live-item .live-item_lk {
  width: 3.6rem;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
}
/* line 53, ../../sass/page/_home.scss */
.live .live-list_wrapper .live-item .img-box {
  width: 3.6rem;
  height: 2.4rem;
  position: relative;
}
/* line 58, ../../sass/page/_home.scss */
.live .live-list_wrapper .live-item .sub-title {
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
}

/* line 66, ../../sass/page/_home.scss */
.custom-IP {
  background-image: url("../images/page1/bg/page172.png");
  background-position: bottom;
  background-size: cover;
}
/* line 70, ../../sass/page/_home.scss */
.custom-IP .section {
  padding: 1.8rem 2.8rem 0;
  flex-direction: row;
  justify-content: space-between;
}
/* line 71, ../../sass/page/_home.scss */
.custom-IP .section.custom-single {
  padding: 1.8rem 4.2rem 0;
}
/* line 73, ../../sass/page/_home.scss */
.custom-IP .section.custom-single .section-right {
  width: 5.6rem;
  height: 3.4rem;
}
/* line 77, ../../sass/page/_home.scss */
.custom-IP .section.custom-single .video-single_lk {
  position: relative;
  display: block;
}
/* line 81, ../../sass/page/_home.scss */
.custom-IP .section.custom-single .video-single_lk .sub-title {
  font-size: 0.2rem;
  text-align: center;
  background-color: #ffcd40;
  height: 0.6rem;
  line-height: 0.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 98, ../../sass/page/_home.scss */
.custom-IP .section .section-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 102, ../../sass/page/_home.scss */
.custom-IP .section .section-left .desc {
  padding-top: 0.6rem;
  max-width: 4.2rem;
}
/* line 107, ../../sass/page/_home.scss */
.custom-IP .section .section-right {
  width: 8.4rem;
}
/* line 109, ../../sass/page/_home.scss */
.custom-IP .section .section-right .video-list {
  flex-wrap: wrap;
  align-content: space-around;
  height: 5.5rem;
}
/* line 115, ../../sass/page/_home.scss */
.custom-IP .section .section-right .video-item {
  width: 33.33333%;
}
/* line 117, ../../sass/page/_home.scss */
.custom-IP .section .section-right .video-item_lk {
  width: 2.7rem;
  height: 1.7rem;
}
/* line 122, ../../sass/page/_home.scss */
.custom-IP .section .section-right .video-item_lk:hover {
  background-color: cornflowerblue;
  opacity: 0.7;
}
/* line 125, ../../sass/page/_home.scss */
.custom-IP .section .section-right .video-item_lk:hover .title {
  display: block;
  position: absolute;
  top: 50%;
}
/* line 132, ../../sass/page/_home.scss */
.custom-IP .section .section-right .video-item .title {
  font-size: 0.2rem;
  display: none;
}

/* line 143, ../../sass/page/_home.scss */
.column .content-title {
  padding-top: 1rem;
}
/* line 146, ../../sass/page/_home.scss */
.column .tag-badge {
  margin-top: 0.3rem;
}
/* line 149, ../../sass/page/_home.scss */
.column-list {
  padding: 0.4rem 4.8rem;
}
/* line 151, ../../sass/page/_home.scss */
.column-list_wrapper {
  justify-content: center;
}
/* line 155, ../../sass/page/_home.scss */
.column-list .column-item_lk {
  width: 4.5rem;
  height: 3.3rem;
  border: solid #ccc 1px;
  position: relative;
}
/* line 160, ../../sass/page/_home.scss */
.column-list .column-item_lk .sub-title {
  font-size: 0.2rem;
  text-align: center;
  background-color: #ffcd40;
  height: 0.6rem;
  line-height: 0.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 172, ../../sass/page/_home.scss */
.column-list .img-box {
  width: 100%;
  height: auto;
}
/* line 177, ../../sass/page/_home.scss */
.column .multiple-list_wrapper {
  padding: 0.3rem 3rem;
  flex-wrap: wrap;
  align-content: space-around;
  height: 5rem;
}
/* line 183, ../../sass/page/_home.scss */
.column .multiple-list_wrapper .multiple-item {
  width: 20%;
}
/* line 185, ../../sass/page/_home.scss */
.column .multiple-list_wrapper .multiple-item_lk {
  width: 2.4rem;
  height: 2rem;
  flex-direction: column;
  justify-content: space-between;
}
/* line 193, ../../sass/page/_home.scss */
.column .multiple-list_wrapper .sub-title {
  font-size: 0.15rem;
}
/* line 196, ../../sass/page/_home.scss */
.column .multiple-list_wrapper .img-box {
  width: 2.4rem;
  height: 1.6rem;
}

/* line 204, ../../sass/page/_home.scss */
.short-video {
  background-image: url("../images/page1/bg/page1236.jpg");
  background-size: 100% 100%;
  align-items: center;
  flex-direction: column;
  height: 9.5rem;
}
/* line 211, ../../sass/page/_home.scss */
.short-video .tag-badge {
  margin-top: 0.3rem;
  left: 0;
  transform: translateX(0%);
}
/* line 216, ../../sass/page/_home.scss */
.short-video .order-list {
  padding-top: 0.6rem;
  justify-content: center;
  width: 4.4rem;
}
/* line 221, ../../sass/page/_home.scss */
.short-video .order-list_wrapper {
  justify-content: space-between;
  width: 100%;
}
/* line 226, ../../sass/page/_home.scss */
.short-video .order-list .spacer {
  width: 1px;
  height: 100%;
  background: #ccc;
}
/* line 231, ../../sass/page/_home.scss */
.short-video .order-list strong {
  font-size: 0.26rem;
  color: #fdfdfd;
}
/* line 235, ../../sass/page/_home.scss */
.short-video .order-list small {
  font-size: 0.15rem;
  color: #fdfdfd;
}
/* line 240, ../../sass/page/_home.scss */
.short-video .shortvideo-list {
  padding-top: 0.6rem;
  justify-content: center;
  width: 11.2rem;
}
/* line 245, ../../sass/page/_home.scss */
.short-video .shortvideo-list_wrapper {
  justify-content: space-between;
  width: 100%;
  height: 5.2rem;
  align-content: space-between;
  flex-wrap: wrap;
}
/* line 253, ../../sass/page/_home.scss */
.short-video .shortvideo-list .shortvideo-item {
  width: 33.33333%;
}
/* line 255, ../../sass/page/_home.scss */
.short-video .shortvideo-list .shortvideo-item_lk {
  width: 3.6rem;
  height: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
}
/* line 263, ../../sass/page/_home.scss */
.short-video .shortvideo-list .sub-title {
  text-align: left;
  font-size: 0.2rem;
  color: #ffffff;
}

/* line 271, ../../sass/page/_home.scss */
.header {
  height: 7rem;
}
/* line 273, ../../sass/page/_home.scss */
.header .header-background {
  background-image: url("../images/page1/banner/page1.jpg");
}

/* line 278, ../../sass/page/_home.scss */
.footer {
  height: 5.3rem;
}

/* Theme */
/* line 1, ../../sass/theme/_theme1.scss */
.header {
  background-color: #eee;
}

/* line 7, ../../sass/theme/_theme1.scss */
.content .content-item {
  background-color: #ffffff;
}
/* line 9, ../../sass/theme/_theme1.scss */
.content .content-item.live {
  background-color: #f1f1f1;
}
/* line 12, ../../sass/theme/_theme1.scss */
.content .content-item.short-video {
  background-color: #eee;
}

/* line 18, ../../sass/theme/_theme1.scss */
.footer {
  background-color: #ffcd40;
}

/* line 22, ../../sass/theme/_theme1.scss */
.copyright {
  background-color: #a9a9a9;
}
