.icon {
    display: block;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: px2rem(30);
    height: px2rem(30);
}

.icon-down_full {
    background-image: url('../images/page1/bg/page1_03.png');
}

.icon-webo {
    background-image: url('../images/weibo.svg');
}

.icon-weixin {
    background-image: url('../images/weixin.svg');
}

.icon-mail {
    background-image: url('../images/mail.svg');
}

.icon-close {
    background-image: url('../images/close.svg');
}

.icon-down {
    background-image: url('../images/down.svg');
}