.list {
    position: relative;
    width: 100%;
    .item {
        cursor: pointer;
        @extend %flexBox;
        @include flex-direction(column);
        @include align-items(center);
    }
    .sub-title {
        color: $moreTxt;
        font-size: $le_3;
        text-align: center;
    }
}